# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Python path config files
*.pth

# Data files
*.csv

# Images
*.png

# Ignore any directory with "experiment" in its name
**/*experiment*/
**/*models*/

# Log files
*.log

2d_synthetic/
ace_env/
outputs/
PretrainedToyModels/*
ace_demo_runs_*/
ace_eval_runs_*/
repo/*
experiments/*